.jumbotron {
  color: black;
  font-family: 'Courier New';
  font-size: 50px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  padding: 20px;
  line-height: 26.3999996185303px;
  text-align: center;
}

.picture {
  border-radius: 50%;
  width: 10em;
}

.navbar .nav li > a:hover {
  background-color: #346392;
  border-radius: 5px;
}

.navbar .nav li > a:active {
  background-color: #3aa3e6;
  border-radius: 5px;
}

.nav li {
  display: inline;
  margin: 10px;
  border-radius: 5px;
  wide: 80%;
  background-color: #6496c8;
}

.nav {
  text-align: center;
}

.nav li a {
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: white;
}

.map {
  height: 100%;
}

.index {
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #3aa3e6;
  margin: 10px;
  border-radius: 5px;
  /*wide: 80%;*/
  /*background-color: #6496c8;*/
}

.create {
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #3aa3e6;
  margin: 10px;
  border-radius: 5px;
  /*wide: 80%;*/
  /*background-color: #6496c8;*/
}

.chatlog {
  margin-top: 4em;
}
.chatlog ul{
  border: solid 1px #eee;
}

.chatInput{
  padding-top: 1.5em;
}
