<div ng-init='init()'>
  <div id='map'>
    <h1 class = 'jumbotron'>mapchat
      <a href='#/facebook' class='index' ng-click='logOut()' style='float: left'><span class="glyphicon glyphicon-home big" aria-hidden="true"></span></a>
      <a href='#/logout' class='create' ng-click='logOut(true)' style='float: right'><span class="glyphicon glyphicon-off big" aria-hidden="true"></span></a>
    </h1>
  </div>

  <div class="container">
    <div class='col-md-6'>
      <ng-map height="1000px" default-style="true" center="current-location" zoom="14">
        <div ng-repeat="client in tempDataStore">
          <marker id="{{client.userName}}" position="{{client.latitude}},{{client.longitude}}" class="mark" on-mouseover="map.showInfoWindow('usernameInfo')" ></marker>
          <info-window id="usernameInfo" position="{{client.latitude}},{{client.longitude}}" visible-on-marker="foo">
            <div id="bodyContent">
              {{ client.userName }} <br>
              {{ client.message }}
            </div>
          </info-window>
        </div>
        <marker position="{{realAddress}}"
          centered="true">
        </marker>
      </ng-map>    
    </div>
    <div class='col-md-4'>
      <h4>Welcome to {{mapName}}!</h4>
      <form>
        <div class="form-group">
          <textarea class="form-control" rows="3" ng-model='user.message' placeholder="Enter chat message here"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default" ng-click='submitMessage(map, "usernameInfo")'>Submit message</button>
       </div>
      </form>
      <div class="chatlog">
        <h4>All Chats</h4>
        <ul class="groupChat">
        </ul>
      </div>
    </div>
    <div class='col-md-2'>
      <h5><span class="glyphicon glyphicon-user"></span> Buddy List</h5>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="client in tempDataStore"><img src="{{ client.userPic }}" />{{client.userName}}</li>
      </ul>

    </div>
  </div>
  <br>
  <div class='col-md-offset-1 col-md-3'>
  <br>
    <form>
      <div class="form-group">
        <label>Meeting Address</label>
        <input class="form-control" ng-model='address'></input>
      </div>
      <button class="btn btn-default" ng-click='confirmAddress()'>Confirm Location</button>
      <button class="btn btn-default" ng-click='getDirections()'>Get Directions</button>
    </form>
  </div>
  <br>
  <div class='col-md-3' id='confirmation'>
    <p ng-model='realAddress'>{{realAddress}}</p>
  </div>
</div>
