<div ng-init='init()'>
  <div id='map'>
    <h1 class = 'jumbotron'>Hacker Tracker
      <a href='#/facebook' class='index' ng-click='logOut()' style='float: left'>Home</a>
      <a href='#/logout' class='create' ng-click='logOut(true)' style='float: right'>Log Out</a>
    </h1>
  </div>

  

  <div class = 'col-md-12 col-sm-12 col-xs-12'>
  <h4>Map: {{mapName}}</h4>
    <ng-map height="1000px" default-style="true" center="current-location" zoom="14">
    <div class="chatbox">
    message: 
      <form ng-submit="map.showInfoWindow('usernameInfo')">
        <input ng-model='user.message'></input>
      </form>
    </div>
      <div ng-repeat="client in tempDataStore">
        <marker position="{{client.latitude}},{{client.longitude}}" class="mark" on-mouseover="map.showInfoWindow('usernameInfo')" ></marker>   
        <info-window id="usernameInfo" visible-on-marker="foo">
          <div id="bodyContent">
            {{ user.userName }} <br>
            {{ user.message }}
          </div>
        </info-window>
     </div>
    </ng-map>
  </div>
  
</div>
